h1 {
  margin: 0;
  font-weight: 450;
  padding: 0;
  font-size: 30px;
}

.header {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 12.5px 25px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.reviews-like {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bubbles {
  height: 16px;
  width: auto;
  margin-top: 2px;
  margin-left: -12px;
  padding: 0;
}

.reviews {
  margin: 0;
}

.ranking-share {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ranking {
  margin: 0;
}

.icon:hover {
  cursor: pointer;
}