
.images {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 2/5;
  grid-column: 2/3;
}

.image {
  transition: .8s;
  width: 100%;
  height: 95%;
  object-fit: cover;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.award {
  position: absolute;
  left: 40px;
  top: .95em;
  height: 15%;
  z-index: 500;
}

.tooltip {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  position: absolute;
  left: 150px;
  top: -30px;
  background-color: white;
  padding: 40px 35px;
  width: 350px;
  height: 100px;
  border-radius: 2px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.26);
  z-index: 200;
}
.tooltip h3 {
  margin: 0;
}

.images:hover .overlay {
  opacity: 1;
}

.images:hover .image {
  opacity: 1;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* translate: -100%, 0%; */
  /* -ms-transform: translate(-50%, -50%); */
  text-align: center;
  z-index: 100;
}

.prev {
  cursor: pointer;
  opacity: .5;
  position: absolute;
  bottom: 45%;
  top: 45%;
  /* right: 0; */
  left: 0;
  width: 50px;
  background-color: black;
  color: white;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 30px;
}

.next {
  cursor: pointer;
  opacity: .5;
  position: absolute;
  bottom: 45%;
  top: 45%;
  right: 0;
  /* left: 0; */
  width: 50px;
  background-color: black;
  color: white;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 30px;
}