/* @media screen and (max-width: 1000px) {

} */
/* @media screen and (min-width: 1001px) {
} */
.pencilForm {
  display: flex;
}
.pencil {
  margin-right: 4px;
}
.openFormBtn {
  border: none;
  background: rgba(255, 0, 0, 0);
  cursor: pointer;
  padding-bottom: 2px;
  padding-left: 0;
  width: 92%;
  text-align: start;
  border-bottom: dotted 1.5px #e4d0c8;
  color:rgba(44, 44, 44, 0.795)
}

h2 {
  font-weight: 400;
}

.form-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.improve label {
  font-size: 14px;
  font-weight: 450;
}

.improve input {
  margin: 0px;
  border: 1px solid black;
  padding: 7px 10px;
  border-radius: 3px;
  border: 2px solid rgba(192, 182, 175, 0.479);
  background-color: rgb(255, 255, 255);
}

.improve input[type=text] {
  width: 90%;
}

.btnFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btnFlex button {
  width: 80%;
  height: 36px;
  letter-spacing: 2px;
  border: 2px solid rgb(0, 170, 100);
  cursor: pointer;
  font-size: 16px;
}

.btnFlex button:hover {
  background-color: rgb(0, 170, 100);
  color: rgb(255, 255, 255);
  transition: .5s;
}