.modal {
  position: fixed;
  z-index: 500;
  background-color: #f9f2ea;
  width: 50%;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.233);
  padding: 30px;
  left: 40%;
  top: 30%;
  box-sizing: border-box;
  border-radius: 10px;
  /* border: 4px solid rgb(242, 178, 3); */
}