/* @media screen and (max-width: 1000px) {

} */
/* @media screen and (min-width: 1001px) {
} */
.overview {
  grid-row: 3/4;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 12.5px 25px;
  background-color: rgb(255, 255, 255);
}

h4 {
  margin: 0;
  font-weight: 500;
}

.clock {
  display: flex;
  align-items: center;
}
.clock p {
  margin-left: 6px;
}

.time {
display: flex;
align-items: center;
}
.timeIcon {
  margin-left: -2px;
  margin-right: 4px;
}
.addressWithIcon {
  display: flex;
  align-items: center;
}
.addressIcon {
  margin-left: -2px;
  margin-right: 4px;
}
.address-container {
  display: flex;
}

.address {
  font-size: 13px;
  margin-right: 3px;
}

p.address {
  margin: 0;
}