/* @media screen and (max-width: 1000px) {

} */
/* @media screen and (min-width: 1001px) {
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;

}

p {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attraction {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 55px 180px 250px 170px 30px;
  max-width: 1230px;
}

.header {
  grid-row: 2/3;
  grid-column: 1/2;
  border: 1px solid black;
  padding: 12.5px 25px;
}

h3 {
  margin: 0;
  font-weight: 500;
}

.reviews-like {
  display: flex;
  justify-content: space-between;
}

.reviews {
  margin: 0;
}


.ranking-share {
  display: flex;
  justify-content: space-between;
}
.ranking {
  margin: 0;
}

.overview {
  grid-row: 3/4;
  grid-column: 1/2;
  border: 1px solid black;
  padding: 12.5px 25px;
}

h4 {
  margin: 0;
  font-weight: 500;
}

.address-container {
  display: flex;
}

p.address {
  margin: 0;
}

.images {
  position: relative;
  display: flex;
  grid-row: 2/5;
  grid-column: 2/3;
  border: 1px solid black;
}

.image {
  transition: .8s;
}

.images:hover .overlay {
  opacity: 1;
}

.images:hover .image {
  opacity: 1;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* translate: -100%, 0%; */
  /* -ms-transform: translate(-50%, -50%); */
  text-align: center;
}

.prev {
  cursor: pointer;
  opacity: .5;
  position: absolute;
  bottom: 45%;
  top: 45%;
  /* right: 0; */
  left: 0;
  width: 50px;
  background-color: black;
  color: white;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 30px;
}

.next {
  cursor: pointer;
  opacity: .5;
  position: absolute;
  bottom: 45%;
  top: 45%;
  right: 0;
  /* left: 0; */
  width: 50px;
  background-color: black;
  color: white;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 30px;
}

.award {
  position: absolute;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}