/* @media screen and (max-width: 1000px) {

} */
/* @media screen and (min-width: 1001px) {
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #f9f2ea;
  color: rgba(36, 36, 36, 0.884);
}

p {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}

strong {
  font-weight: 450;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}



