h3 {
  margin: 0;
  font-weight: 500;
}

.tickets {
  grid-row: 4/5;
  grid-column: 1/2;
  border: 1px solid black;
  padding: 12.5px 25px;
}

.ticket-header {

}

.ticket-price {

}

.get-tix-btn {

}
