.tickets {
  grid-row: 4/5;
  grid-column: 1/2;
  padding: 0 27px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.ticketContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4d0c8;
  border-radius: 5px;
  padding: 20px;
}

.ticketTitle {
  display: flex;
}

.withIcon {
  display: flex;
  align-items: flex-start;
}

.ticketIcon {
  margin-right: 5px;
}

.ticket-header {
  font-size: 16px;
  font-weight: 600;
  padding: 0px;
  margin: 0 0 10px 0;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ticket-price {
  font-size: 10px;
}

.ticket-price strong {
  font-weight: 700;
  font-size:40px;
}

.get-tix-btn {
  cursor: pointer;
  width: 100%;
  background-color: #F2B203;
  color: black;
  border: none;
  border-radius: 14px;
  height: 40px;
  font-weight: 500;
  margin-top: 5px;
  transition: .5s;
}

.get-tix-btn:hover {
  background-color: #f2b2038a;
}
