h3 {
  margin: 0;
  font-weight: 500;
}

.tickets {
  grid-row: 4/5;
  grid-column: 1/2;
  border: 1px solid black;
  padding: 12.5px 25px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.ticketContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(194, 171, 158, 0.747);
  border-radius: 5px;
  padding: 20px;
}

.ticketTitle {
  display: flex;
}

.ticket-header {

}

.ticket-price {

}

.get-tix-btn {
  width: 100%;
  background-color: #F2B203;
  color: black;
  border: none;
  border-radius: 10px;
  height: 30px;
}
